@import 'normalize'
@import 'vars'
@import 'fonts'


body 
    font-family: 'Roboto', sans-serif
    font-size: 14px
    line-height: 120%
    background-color: $mainTextColor
* 
    box-sizing: border-box
h1,h2,h3,h4,p,ul
    margin: 0
    padding: 0
ul
    list-style: none
a
    text-decoration: none
img
    max-width: 100%
.container
    max-width: 1160px
    padding: 0 10px
    margin: 0 auto
button
    background-color: transparent
    border: none
    outline: none
    color: $mainTextColor
    cursor: pointer
@import 'blocks/header'