<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500&display=swap&subset=cyrillic" rel="stylesheet")
        link(rel="stylesheet", href="css/style.css")
        title Document
    body
        header.header
            .container
                .header-inner.header__top
                    .header__logo
                        img(src="img/header-logo.png" alt="23degree logo")
                    .header__contacts
                        .header-img
                            img(src="img/icons/phone-icon.png", alt="phone-icon")
                        .header__info
                            span.header__contacts-text Есть вопросы? Звоните!
                            p.header__contacts-phone 8 /800/ 259 09 36
                    button.header__menu
                        .menu-burger
                            span.menu-item
                            span.menu-item
                            span.menu-item
                        span.header__menu-text МЕНЮ
                .header__content
                    .hero__block
                        h1.hero__title Услиги по 3D моделированию
                        p.hero__subtitle.hero-subtitle полный спектр услуг
                        p.hero__text Оставьте заявку сейчас и получите дизайн интерьера 25кв2 бесплатно!*
                    .hero__form
                        .hero__form-group
                            input(type="text" placeholder="Ваше имя").hero__input
                            input(type="email" placeholder="Ваш email").hero__input
                            input(type="tel" placeholder="Ваш телефон").hero__input
                        input(type="submit" value="Оставить заявку!").hero__button
                    p.hero__subtext *Мы гарантируем конфидициальность передаваемых данных
                    .hero__scroll
                        img(src="img/icons/scroll-icon.png" alt="scroll icon")
    main
        section
            .container
        section
            .container
        section
            .container
        section
            .container
        footer
            .container
    script