<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500&display=swap&subset=cyrillic" rel="stylesheet")
        link(rel="stylesheet", href="css/style.css")
        title Document
    body
        header.header
            .container
                .header-inner.header__top
                    .header__logo
                        img(src="img/header-logo.png" alt="23degree logo")
                    .header__contacts
                        .header-img
                            img(src="img/icons/phone-icon.png", alt="phone-icon")
                        .header__info
                            span.header__contacts-text Есть вопросы? Звоните!
                            p.header__contacts-phone 8 /800/ 259 09 36
                    button.header__menu
                        .menu-burger
                            span.menu-item
                            span.menu-item
                            span.menu-item
                        span.header__menu-text МЕНЮ
                .header__content
                    .hero__block
                        h1.hero__title Услиги по 3D моделированию
                        p.hero__subtitle.hero-subtitle полный спектр услуг
                        p.hero__text Оставьте заявку сейчас и получите дизайн интерьера 25кв2 бесплатно!*
                    .hero__form
                        .hero__form-group
                            input(type="text" placeholder="Ваше имя").hero__input
                            input(type="email" placeholder="Ваш email").hero__input
                            input(type="tel" placeholder="Ваш телефон").hero__input
                        input(type="submit" value="Оставить заявку!").hero__button
                    p.hero__subtext *Мы гарантируем конфидициальность передаваемых данных
                    .hero__scroll
                        img(src="img/icons/scroll-icon.png" alt="scroll icon")
    main
        section.services
            .container
                .services-block
                    h2.section-title.section__title Наши услуги
                    ul.services__list.section-list
                        li.services__item
                            .services-img.order__img
                                img(src="img/service/service-1.jpg", alt="").services__img
                            .services-info
                                h3.services__item-title Дизайн интерьера
                                p.services__item-text Услуга, направленная на разработку интерьеров помещений с целью обеспечить удобство и эстетически приятное ощущение у человека при нахождении в помещении
                                .services-link
                                    a(href="#").services__link Оставить заявку
                        li.services__item
                            .services-img
                                img(src="img/service/service-2.jpg", alt="").services__img
                            .services-info
                                h3.services__item-title Дизайн экстерьера
                                p.services__item-text Услуга, направленная на разработку дизайна прилегающих элементов зданий, а также дизайн самих зданий, позволяющая обеспечить удобство людей при нахождении на территории 
                                .services-link
                                    a(href="#").services__link Оставить заявку
                        li.services__item
                            .services-img.order__img
                                img(src="img/service/service-3.jpg", alt="").services__img
                            .services-info
                                h3.services__item-title Визуализация
                                p.services__item-text Услуга, направленная на разработку дизайна прилегающих элементов зданий, а также дизайн самих зданий, позволяющая обеспечить удобство людей при нахождении на территории
                                .services-link
                                    a(href="#").services__link Оставить заявку  
        
        section.calculate
            .container
                .calculate__block
                    h2.form__title.form-title Расчитать стоимость
                    p.form__text Расчитайте предварительную стоимость разработки интерьера
                    .calculate__content
                        form.calculate__form
                            .form__group
                                p.form__subtitle Площадь помещения:
                                input(id="ran" type='range' min="100" max="500000" step="100").range
                            .form__group
                                p.form__subtitle Выберите пакет:
                                .form__pp-list
                                    .form__pp-item
                                        label(for="light")
                                            input(id="light" value="light" type='radio' name="plan")
                                            span.form__pp-name Light
                                        //- .pp__description.pp__description-light
                                        //-     .pp__tag.pp__tag-light
                                        //-     p.pp__info План расстановки мебели 3D визуализация. Все рабочие чертежи (план полов, план потолка, развертки по стенам, план электросетей)
                                    .form__pp-item 
                                        label(for="medium")
                                            input(id="medium" type='radio' name="plan")
                                            span.form__pp-name Medium
                                        //- .pp__description.pp__description-medium
                                        //-     .pp__tag.pp__tag-medium
                                        //-     p.pp__info План расстановки мебели 3D визуализация. Все рабочие чертежи (план полов, план потолка, развертки по стенам, план электросетей)
                                    .form__pp-item   
                                        label(for="full")
                                            input(id="full" type='radio' name="plan")
                                            span.form__pp-name Full
                                        //- .pp__description.pp__description-full
                                        //-     .pp__tag.pp__tag-full
                                        //-     p.pp__info План расстановки мебели 3D визуализация. Все рабочие чертежи (план полов, план потолка, развертки по стенам, план электросетей)
                        .content__info
                            ul.info__list
                                li.info__item
                                    p.info__text Площадь помещения:
                                    p.info__num 1 000м2
                                li.info__item
                                    p.info__text Средняя стоимость м2:
                                    p.info__num 4 850 тг.
                                li.info__item
                                    p.info__text Средняя стоимость объекта:
                                    p.info__num 48 500 тг.
                            .info__link
                                a(href="").info-link Получить консультацию специалиста
                            .info__subtext или позвоните нам по телефону:
                            .info__phone + 7 727 388 71 77

        section
            .container
        footer
            .container
    script